.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 1px;
  background-color: grey;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: black;
}
